body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #B9FFF8;
  padding-top: 150px;
}

.irfan-img {
  width: 20%;
  border-radius: 100%;
  margin: 50px auto 0 auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 0.75rem;
}

hr {
  border: dotted  #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-cloud {
  width: 200px;
  height: 100px;
  position: absolute;
  right: 150px;
  top: 50px;
}

.bottom-cloud {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 150px;
}

.mountain {
  height: 300px;
  width: 400px;
  margin-top: 50px;
}

snap {
  background-color: gold;
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gym-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 50%;
  margin: auto;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  margin: 50px auto 50px auto;
}

.gym-para {
  margin: auto auto 50px auto;
}

  a{
      font-family: 'Montserrat', sans-serif;
color: #11999E;
text-decoration: none;
margin: 0 30px 0 30px;
  }

a:hover{
  color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 3;
}
